
.box{background-color: red;
    border: 1px solid gold;
    padding: 10px;
    width: 50px;
    height: 50px;
    }    

#boxes{background-color: aqua;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    justify-content: flex-start;}

#boxes1{background-color: aqua;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;}

#boxes2{background-color: aqua;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    justify-content: flex-end;}

#boxes3{background-color: aqua;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    justify-content:space-evenly;}
                
 #boxes4{background-color: aqua;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    justify-content:space-between;}

#boxes5{background-color: aqua;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    justify-content:space-around;}
                
#boxes6{background-color: aqua;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    align-items: flex-start;}
                
#boxes7{background-color: aqua;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    align-items: center;}

#boxes8{background-color: aqua;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    align-items: flex-end;}                                

#boxes9{background-color: aqua;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;}
                                    
#boxes10{background-color: aqua;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;}
                                    
#boxes11{background-color: aqua;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content:flex-end}

#boxes12{background-color: aqua;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;}

#boxes13{background-color: aqua;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content:space-between;}

#boxes14{background-color: aqua;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content:space-around;}           
                
#boxes15{background-color: aqua;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;}

 #boxes16{background-color: aqua;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;}

#boxes17{background-color: aqua;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;}
