*{background-color: aqua;
    border: 1px solid red;}
    #abhi{background-color: red; padding: 10px;}
    .ab{background-color: blue;padding: 10px;}
    .pen{background-color: green;padding: 10px;}
    ol{background-color: rgb(255, 72, 0);}